<div class="page-title-wrapper">
  <h2 class="page-title">Batch Flow</h2>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default-light rounded">
      <div class="panel-heading">
        <div class="panel-title">

          Daily Report - Planned vs Actual

        </div>
        <div class="panel-tools">

        </div>
      </div>

      <div class="panel-body">

        <h3>Planned for <%= @today %></h3>
        <%-
          production_planner = ActiveRecord::Base.establish_connection(:production_planner).connection
          batch_plans = production_planner.execute("SELECT * FROM batch_plans WHERE for_date > '#{(@today -1.days).to_s}' AND for_date < '#{@today.to_s}' AND plan_type='actual'").to_a
          products = production_planner.execute("SELECT * FROM products").to_a
          plan_details = []
          batch_plans.each do |bp|
            prd = products.select { |p| p["id"]== bp["product_id"]}
            plan_details << {product: prd[0]["name"],no_of_batches: bp["number_of_batches"] }
          end
          ActiveRecord::Base.establish_connection(:production)
        %>
        <table class="table table-responsive table-bordered" border="1">
          <tr>
            <th>Product</th>
            <th>No. Of Batches</th>
          </tr>
          <% plan_details.each do |pd| %>
            <tr>
              <td><%= pd[:product] %></td>
              <td><%= pd[:no_of_batches] %></td>
            </tr>
          <% end %>
        </table>


        <h3>Actual for <%= @today %></h3>
        <%
          @batches = Batch.where(:id => BatchLog.where("timestamp > ? AND timestamp <= ? ",(@today - 1.days).beginning_of_day,(@today - 1.days).end_of_day).pluck(:batch_id).compact.uniq)

        %>
        <table class="table table-responsive table-bordered" border="1">
          <tr>
            <th>Product</th>
            <th>No. Of Batches</th>
            <th>Batch Details and Stats</th>
          </tr>
          <% Product.where(:id => @batches.pluck(:product_id).uniq).each do |pd| %>
            <tr>
              <td><%= pd.name %></td>
              <td><%= @batches.where(:product_id => pd.id).count %></td>
              <td>
                <ul>
                  <% @batches.where(:product_id => pd.id).each do |b| %>
                    <li><%= link_to b.name,"http://172.16.0.22:1521/dashboards/batch_flow_state?utf8=%E2%9C%93&batch_details_filter%5Bbatch%5D=#{b.id}&commit=Filter",:target => "_blank" %></li>
                  <% end %>
                </ul>
              </td>

            </tr>
          <% end %>
        </table>







      </div>
    </div>
  </div>
</div>

