<!DOCTYPE html>
<html>
<head>
    <title>OBA Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container">
    <%= yield %>
</div>

<%= javascript_include_tag 'devise', 'data-turbolinks-track': 'reload' %>

<%= render partial: 'globals/alerts' %>
</body>
</html>